.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  animation: fade-in 500ms;
}

.modal-content {
  position: fixed;
  background: white;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 1.2rem;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  animation: fade-in 500ms
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal-content img {
  width: 12px;
  /* position: absolute; */
  /* right: 25px; */
  /* top: 25px; */
  /* cursor: pointer; */
}

.closeButton {
  /* width: 12px; */
  position: absolute;
  right: 25px;
  /* top: 25px; */
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.modal-overlay-close {
  animation: fade-out 500ms;
}

.modal-content-close {
  animation: main-fade-out 500ms;
}

.close-modal {
  text-align: center;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.close-modal:hover {
  cursor: pointer;
}

.close-modal img {
  width: 16px;
}

.close-modal p {
  margin: 0;
}

@keyframes fade-out {
  0% {
    background-color: rgba(0, 0, 0, 0.6);
  }

  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes main-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoom-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  25% {
    transform: translate(-50%, -50%) scale(1.2);
  }

  75% {
    transform: translate(-50%, -50%) scale(0.8);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}


